#Logs 
minecraft-server-docker/data/logs/
*.log

# Crash reports
minecraft-server-docker/data/crash-reports/

# Cache y librerías
minecraft-server-docker/data/cache/
minecraft-server-docker/data/libraries/
minecraft-server-docker/data/versions/

# Archivos temporales
*.tmp
*.dat_old

# Opcional: si usas mrpack y no quieres mods duplicados
minecraft-server-docker/data/mods/